<!DOCTYPE HTML>
<html>

<head>
<title>Simple Job Market: School of Public Policy Internal Positions</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>

<body>
	<h1>Simple Job Market: School of Public Policy Internal Positions</h1>
	 {% if current_user.is_authenticated() %}
     <div><a href="/logout">logout</a></div>
     Hi {{ current_user.id }}!

     {% else %}
     <div><a href="/login">login</a></div>


     {% endif %}

 {% block body %}
 



  
  {% endblock %}

</body>

</html>