{% extends "base.html" %}
{% block body %}

<form action="{{ url_for('offers') }}" method=post class=add-entry>
{{ form.csrf_token }}    

<div>{{ form.offer_made.label }}: {{ form.offer_made() }}</div>
<div>{{ form.submit()}}
</form>

<table class=offer>
    <tr>
        <th>app_id</th>
        <th>supervisor</th>
        <th>position id</th>
        <th>position name</th>
        <th>student username</th>
        <th>student email</th>
        <th>student first name</th>
        <th>student last name</th>
    </tr>
    {% for app in app_review_all %}
    <tr>
        <td>{{ app.position_apps[0].app_id }}</td>
        <td>{{ app.username }}</td>
        <td>{{ app.position_id }}</td>
        <td>{{ app.title }}</td>
        <td>{{ app.position_apps[0].students.email }}</td>
        <td>{{ app.position_apps[0].students.name_last }}</td>
        <td>{{ app.position_apps[0].students.name_first }}</td>
    </tr>

    {% endfor%}
</table>

<table class=offer>
    <tr>
        <th>Offer ID</th>
        <th>Application ID</th>
        <th>Offer Made</th>
        <th>Offer Date</th>
        <th>Response</th>
        <th>Response Date</th>
        <th>Available</th>
    </tr>
{% for entry in offer_list %}    
    <tr>
        <td>entry.offer_id</td>
        <td>entry.app_id</td>
        <td>entry.offerMade</td>
        <td>entry.offer_date</td>
        <td>entry.response</td>
        <td>entry.response_date</td>
        <td>entry.avaiable</td>
    <tr>
{% endfor %}
</table>
{% endblock %}
