{% extends "base.html" %}
{% block body %}

<form action="{{ url_for('offers') }}" method=post class=add-entry>
{{ form.csrf_token }}    

<div>{{ form.offer_made.label }}: {{ form.offer_made() }}</div>
<div>{{ form.submit()}}
</form>




<table class=offer>
    <tr>
        <th>Offer ID</th>
        <th>Application ID</th>
        <th>Offer Made</th>
        <th>Offer Date</th>
        <th>Response</th>
        <th>Response Date</th>
        <th>Available</th>
    </tr>
    
    <tr>
        <td>entry.offer_id</td>
        <td>entry.app_id</td>
        <td>entry.offerMade</td>
        <td>entry.offer_date</td>
        <td>entry.response</td>
        <td>entry.response_date</td>
        <td>entry.avaiable</td>
    <tr>
{% for entry in offer_list %}

{% endfor %}
</table>
{% endblock %}
