{% extends "base.html" %}
{% block body %}

<h2></h2>
<h2>{{ position[0].position_id }} {{ position[0].title}}</h2> 
<table class=offer>
    <tr>
        <th>Offer</th>
        <th>Decline</th>
        <th>app_id</th>
        
        <th>position name</th>
        <th>student username</th>
        <th>student email</th>
        <th>student first name</th>
        <th>student last name</th>
    </tr>
    {% for app in app_review_all %}
    <tr>
        <td><form action="{{ url_for('offers') }}" method=post class=add-entry>
            {{ form.csrf_token }} 
            {{ form.app_id(value=app.app_id) }}
            {{ form.offer_made(value=1) }}
            {{ form_yes.submit()}}</form>
        </td>
        <td><form action="{{ url_for('offers') }}" method=post class=add-entry>
            {{ form.csrf_token }} 
            {{ form.app_id(value=app.app_id) }}
            {{ form.offer_made(value=0) }}   
            {{ form_no.submit()}}</form>
        </td>
        <td>{{ app.app_id }}</td>
        <td>{{ app.students.username }}</td>
        <td>{{ app.students.name_last }}</td>
        <td>{{ app.students.name_first }}</td>
        <td>{{ app.students.email }}</td>
    </tr>

    {% endfor%}
</table>

{% endblock %}