{% extends "base.html" %}
{% block body %}

<form action="{{url_for('positions')}}" method=post class=add-entry>
{{ form.csrf_token }}    
<div>{{ form.supervisor_id.label }}: {{ form.supervisor_id() }}</div>
<div>{{ form.title.label }}: {{ form.title() }}</div>
<div>{{ form.work_group.label }}: {{ form.work_group() }}</div>
<div>{{ form.position_type.label }}: {{ form.position_type() }}</div>
<div>{{ form.course.label }}: {{ form.course() }}</div>
<div>{{ form.program_min.label }}: {{ form.program_min() }}</div>
<div>{{ form.program_std.label }}: {{ form.program_std() }}</div>
<div>{{ form.position_overview.label }}: {{ form.position_overview() }}</div>
<div>{{ form.primary_duties.label }}: {{ form.primary_duties() }}</div>
<div>{{ form.necessary_skill.label }}: {{ form.necessary_skill() }}</div>
<div>{{ form.preferred_skill.label }}: {{ form.preferred_skill() }}</div>
<div>{{ form.date_open.label }}: {{ form.date_open() }}</div>
<div>{{ form.date_closed.label }}: {{ form.date_closed() }}</div>
<div>{{ form.available.label }}: {{ form.available() }}</div>
<input type=submit value=send>
</form>

<table class=position>
    <tr>
        <th>Postion ID</th>
        <th>Title</th>
        <th>Work Group</th>
        <th>Type</th>
        <th>Course</th>
        <th>Minimum level</th>
        <th>Standard level</th>
        <th>Overview</th>
        <th>Duties</th>
        <th>Necessary Skill</th>
        <th>Additional Skill</th>
        <th>Opening Date</th>
        <th>Closing Date</th>
        <th>Quantity Available</th>
        <th>Supervisor</td>
    </tr>
    
{% for entry in position_list %}
    <tr>
        <td>entry.position_id</td>
        <td>entry.title</td>
        <td>entry.workGroup</td>
        <td>entry.position_type</td>
        <td>entry.course</td>
        <td>entry.programMin</td>
        <td>entry.programStd</td>
        <td>entry.positionOverview</td>
        <td>entry.primarySkill</td>
        <td>entry.necessarySkill</td>
        <td>entry.preferredSkill</td>
        <td>entry.dateOpen</td>
        <td>entry.dateClosed</td>
        <td>entry.available</td>
        <td>entry.supervisor_id</td>
    <tr>
{% endfor %}
</table>
{% endblock %}

